# Environment variables
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
.env/
.venv/
env.bak/
venv.bak/

# Database
chroma_db/
.superpowers/
